* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

body {
    display: flexbox;
    width: fit-content;
}

header {
    width: 100%;
    height: 400px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 55px;
}

header p {
    font-size: 30px;
    text-align: center;
}

/* navbar*/

nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 125px;
    font-size: 25px;
    background-color: darkcyan;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/*about section*/

#about {
    background-color: #f8f9fa;
}

#about h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}

.info {
    display: flex;
    padding-top: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container {
    padding: 2px 16px;
  }

/*work section */

#work {
    width: 100%;
    background-color: #4c67fe;
}

#work h2 {
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.project {
    display: flex;
}

.item-wrap {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
.item-wrap:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.container-1 {
    color: #fff;
    text-align: center;
}

/*contact sectoion*/

#contact {
    background-image: url(/styling-portfolio-using-advance-css/assets/images/background1.jpeg);
    width: 100%;
    height: 100%;
}

#contact h2 {
    font-size: 35px;
    text-align: center;
}

.details {
    display: flex;
}

.details img {
    text-align: center;
    margin-left: 95px;
}

.linkedin {
    padding-left: 170px;
}

.facebook {
    padding-left: 170px;
}

/*media query to make the site fit in various kind of devices*/

@media screen and (max-width: 768px) {
    header h1 {
        float:left;
    }
    header,
    nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .info {
        display: flex;
        width: 100%;
        color: blue;
        flex-wrap: wrap;
    }
    .project {
        display: flex;
        width: 100%;
        background-color: cadetblue;
        flex-wrap: wrap;
    }
    .details {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .email {
        padding-left: 170px;
    }
}
    